@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<p>Developed By:</p>
<ul ="disc">
    <li>Waleed Moursy</li>
    <li>Aman Sharma</li>
    <li>Santhamohan Manivannan</li>
    <li>Jasleen Kour</li>
    <li>Caner Adil Irfanoglu</li>
    <li>Sadman Hogue</li>
</ul>
