@{
    ViewBag.Title = "Contact";
}
<h2><U>@ViewBag.Title.</U></h2><br />
<!----<h3>@ViewBag.Message</h3>-->

<address>
    Science Building <br />
    Saint Mary's University<br />
    923 Robie St, Halifax, NS B3H 3C3<br />

</address>

<address>
    <strong>Technical Support: &nbsp Nikita Neveditsin &nbsp  Email:&nbsp </strong>   <a href="mailto:Nikita.Neveditsin@smu.ca">Nikita.Neveditsin@smu.ca</a><br /><br />
    <strong>Admin: &nbsp Neelam Kumari Pal  &nbsp Email:&nbsp </strong> <a href="mailto:Neelam.Pal@smu.ca">Neelam.Pal@smu.ca</a>
</address>